.planCard {
    width: 100%;
    height: 100%;
    border: 1px solid #737373;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #737373;
}
.planCard:hover .planCard__editButton,
.planCard:focus-visible .planCard__editButton {
    display: block;
}
.planCard:hover .planCard__deleteButton,
.planCard:focus-visible .planCard__deleteButton {
    opacity: 1;
}
.planCard__editButton {
    display: none;
    background-color: rgb(255, 255, 255);
    padding: 0.25rem 0.65rem;
    border-radius: 2px;
    background-color: #5f65ff;
    color: #fff;
    position: relative;
    z-index: 1;
}
.planCard__deleteButton {
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.planCard__deleteButton:focus-visible {
    opacity: 1;
}
.planCard__number {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
.planCard__bolt {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}
