# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

.postgres-data
.minio-data
.redis-data
.dynamodb
.env
.env.*
dist
temp

# Websocket server
server-websockets/target
server-websockets/cargo.lock

# Image resize server
server-image-resize/target
server-image-resize/cargo.lock

# Pdf server
server-pdf-generation/node_modules
