# project
.next
.pglite
.postgres-data
/node_modules
/old-migration
src/server/i18n/messages/*
tmp
.env
.env.*
next-env.d.ts

# pnpm & npm
/.pnp
.pnp.js
npm-debug.log*

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo
