.overlay {
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.modalContent {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 32px);

  &--is-full-width {
    width: 100%;
  }

  &--xs {
    width: 300px;
  }
  &--sm {
    width: 400px;
  }
  &--md {
    width: 600px;
  }
  &--lg {
    width: 900px;
  }
  &--xl {
    width: 1200px;
  }

  .title {
    font-weight: 500;
    padding: 16px 24px;
    flex: 0 0 auto;
  }
  .content {
    overflow-y: auto;
    padding: 20px 24px;
    flex: 1 1 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
  }
  .footer {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: flex-end;
    flex: 0 0 auto;
  }
}
button.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
