/* ---- NAVBAR ---- */
.bottom-navbar {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: #fafafa !important;
  border-top: 1px solid rgba(128, 128, 128, 0.7);
}

/* ---- THEMES ---- */
.theme-cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 16px;
  max-width: 720px;
  margin: 2rem auto 2rem auto;
}
@media only screen and (max-width: 600px) {
  .theme-cards-container {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}
.theme-card-button {
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  padding: 0;
  text-decoration: none;
  color: inherit;
}
.theme-card-button:hover {
  background: transparent !important;
}
.theme-card-paper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.theme-card-title {
  margin: 0.1rem 0 0 0;
  font-size: 1.2rem;
  font-weight: normal;
  color: inherit;
}
.theme-card-button:hover > div,
.theme-card-button:focus > div {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.18), 0 5px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.18), 0 5px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.theme-card-button:focus > .theme-card-title {
  text-decoration: underline;
}
.theme-card-default {
  padding-bottom: 73.33333%;
  width: 100%;
}

/* ---- LOGIN ---- */
.login-form,
.signup-form {
  width: 400px;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.login-form > div,
.login-form > button,
.login-form > label,
.signup-form > div,
.signup-form > button,
.signup-form > label {
  margin-top: 1.5rem;
  width: 100%;
  text-align: left;
}

.login-form > div.text-center,
.signup-form > div.text-center {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .login-form,
  .signup-form {
    width: 100%;
  }
}

.back-button {
  position: absolute !important;
  left: 0 !important;
  padding-left: 0 !important;
}

/*  SCENARIO CARD */
.card-container {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  margin: 0.25rem 0 1rem;
  outline: none;
  display: block;
  text-decoration: none;
  color: unset;
}
.card-container:hover,
.card-container:focus {
  -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1), 0 5px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1), 0 5px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.steps {
  color: #646464;
}
.arrow {
  position: absolute;
  right: 0.5rem;
  top: CALC(50% - 0.5rem);
  height: 1rem;
}

.arrow > svg {
  height: 1rem;
}

/* QuestionCard */
.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}
.question-container.sortable-ghost {
  opacity: 0.3;
}
.question-index {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.25rem 1rem;
  cursor: -webkit-grab;
  cursor: grab;
  -ms-touch-action: none;
  touch-action: none;
}
.question-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 0.4rem;
}
.question-actions {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 0.2rem 0.25rem;
}

/* Plan Card */
.plan {
  width: 240px;
  height: 150px;
  border: 1px solid #737373;
  color: #737373;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  margin: 0;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plan > .edit {
  margin: 0;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  padding: 3px 20px;
  background-color: #5F65FF;
  color: #fff;
}
.plan > .delete {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.plan > .number {
  display: inline-block;
  width: 30px;
  text-align: center;
  border-radius: 2px;
  background-color: #737373;
  color: #fff;
}
.plan > .number.purple {
  background-color: #6065FC;
}
.bolt {
  display: inline-block;
  width: 30px;
  text-align: center;
  border-radius: 2px;
  background-color: #737373;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bolt.green {
  background-color: #4BBA8D;
}
.plan:hover > .edit,
.plan:hover > .delete {
  display: block;
}
@media only screen and (max-width: 800px) {
  .plan > .delete {
    display: block;
  }
  .plan > .delete button {
    font-size: 0.8rem;
  }
}

/* Title card */
.title-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.title-card .title-card-placeholder span {
  display: block;
  font-size: 60px;
  line-height: 60px;
}
.title-card-text {
  position: absolute;
  font-weight: bold;
  color: '#000';
  width: 80%;
  text-align: center;
}

/* Scene */
.plans {
  margin-top: 0.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}
.plans::before {
  content: "";
  width: 0;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}
.plans > *:first-child {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}
.plan-button-container.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
}
.add-plan-button {
  color: white;
  background-color: #6065fc;
  margin: 0 4rem;
}
@media only screen and (max-width: 800px) {
  .plans {
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Edit plan */
.edit-plans-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 2rem auto;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  padding: 50px;
  max-width: 500px;
}
.edit-plans-container-mobile > button {
  width: 100%;
  margin: 2rem 0;
}
.or-vertical-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.or-horizontal-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.or-horizontal-divider div {
  width: initial;
  height: 1px;
}
.or-horizontal-divider span {
  margin: 10px;
}
.plan-img {
  border: 1px solid black;
  width: 40%;
  max-width: 500px;
  min-width: 350px;
}
.plan-button {
  width: 40%;
  max-width: 500px;
  min-width: 350px;
  margin: 0.5rem 0 2rem 0 !important;
}
.plan-croppie-container {
  padding-bottom: 40%;
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}
.plan-croppie-container > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.plan-img-buttons {
  display: block;
  margin: 1rem auto;
  width: 40%;
  max-width: 500px;
  min-width: 350px;
}

@media only screen and (max-width: 800px) {
  .plan-croppie-container {
    padding-bottom: 100%;
  }
  .plan-img-buttons {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}

@media only screen and (max-width: 800px) {
  .plan-img,
  .plan-button {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
  .mobile-full-width {
    width: 100% !important;
  }
}

/* Edit title */
.titleEditor {
  border: 1px solid #8E8E93;
  border-radius: 10px;
  width: 774px;
  height: 435px;
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.titleEditor .title {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}
.titleEditor .toolbar {
  background-color: #6065FC;
  border-radius: 5px 5px 0 0;
  padding: 8px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -38px;
}
.titleEditor .toolbar button {
  background-color: #fff;
  border-radius: 2px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6065FC;
  font-size: 10px;
  border-style: none;
  cursor: pointer;
  margin-right: 10px;
}
.titleEditor .toolbar button svg {
  height: 15px;
}
.titleEditor .toolbar select {
  border: 0;
  border-radius: 2px;
  padding: 3px 10px;
}
.titleEditor textarea {
  border: 1px dashed #8E8E93;
  min-width: 100%;
  max-width: 100%;
  padding: 3%;
  font-size: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

/* Canvas */
.draw-canvas-container-max-width {
  width: 50%;
  max-width: 500px;
  margin: 1rem auto;
}
.draw-canvas-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.draw-canvas {
  border: 1px solid rgba(0, 0, 0, 0.54);
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.actions-buttons-container {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.actions-buttons-container > button:not(:last-child) {
  border-right-color: transparent;
}
.canvas-colors-container {
  width: 100%;
  max-width: 190px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}
.canvas-colors-container::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}
.canvas-colors-container > *:first-child {
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: white !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: white !important;
}

.sharedLink {
  width: 100%;
  padding: 0.2rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ddd;
  border: 2px solid #bbb;
}

.sharedLink > span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-x: auto;
}
.wip-container-container {
  width: 100%;
  padding-bottom: 58.8% !important;
  position: relative !important;
}
.wip-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 8px;
  position: absolute;
  background-image: url("/video_strip.svg");
  background-size: 100% 100%;
}
.wip-container:hover,
button:focus > .wip-container {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.18), 0 5px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.18), 0 5px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.wip-container > .edit {
  display: none;
  position: absolute;
  top: 14%;
  right: 2%;
}
.wip-container:hover > .edit {
  display: block;
}
@media only screen and (max-width: 800px) {
  .wip-container > .edit {
    display: block;
  }
  .wip-container > .edit button {
    font-size: 0.8rem;
  }
}

.theme-name {
  position: absolute;
  bottom: 14%;
  left: 6px;
  font-size: 0.8rem;
}
.wip-videos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 16px;
  max-width: 1000px;
  margin: 2rem auto 2rem auto;
}
@media only screen and (max-width: 920px) {
  .wip-videos {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .wip-videos {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

.admin-stat-tile {
  height: 10rem;
  padding: 0.25rem;
  overflow: scroll;
}
.stat-number {
  width: 100%;
  height: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.navigate-top-button {
  position: fixed !important;
  right: 1rem;
  bottom: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in 250ms !important;
}
.navigate-top-button--visible {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 960px) {
  .navigate-top-button {
    bottom: 4.5rem;
  }
}
